@media only screen and (max-width: 760px) {
    body {
        padding: 0 10px;
    }
    .bg {
        width: 100%;
    }
    .box1 {
        .col-4 {
            width: 100%;
            .col-3,
            .col-4 {
                width: 25%;
            }
            .col-9,
            .col-8 {
                width: 70%;
            }
        }
        .col-8 {
            width: 100%;
            .col-2 {
                width: 25%;
            }
            .col-7 {
                width: 70%;
            }
        }
    }
    .box3 {
        .box30,
        .box31 {
            width: 100% !important;
            ul {
                li {
                    width: 100% !important;
                }
            }
        }
        p.dd {
            &::after {
                width: 90% !important;
                top: 28px !important;
                ;
            }
        }
        ul {
            li {
                width: 20%!important;
                svg,
                img {
                    height: 60px !important;
                }
                p {
                    font-size: 14px !important;
                    margin-top: 10px;
                }
            }
        }
    }
    .box6 {
        img {
            width: 100%;
        }
    }
    .box4 {
        .content {
            .box4-a {
                .col-4:nth-child(1) {
                    width: 100%;
                }
                .col-4:nth-child(2) {
                    width: 100%;
                    // text-align: right;
                    margin-top: 8px;
                }
                .col-4:nth-child(3) {
                    width: 100%;
                    margin-top: 8px;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .bg {
        width: 1090px;
    }
}